.DS_Store

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Dependency directories
node_modules/
jspm_packages/

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local